<div style="background-color:#d2d2d2;font-family:arial,sans-serif;padding:0;line-height:24px;margin:0;width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
    <div class="page-link" style="max-width:640px;border-radius:10px;overflow:hidden;width: 640px;margin: auto;background: #fff;padding: 32px;">
        <div class="wrap-title">
            <img src="https://s1.imghub.io/DhlK2.jpg" alt="#" style="width: 50px;height: auto;object-fit: cover;">
            <h2 style="font-size: 24px;
            background: -webkit-linear-gradient(#e40203, #750487);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;margin-top: 8px;">Welcome to LGBT Viet Nam</h2>
            <p><span style="font-weight: bold;">LGBT</span> Việt Nam kết nối cộng đồng, vì một thế giới bình đẳng,hãy cùng chúng tôi tạo nên sự khác biệt</p>
        </div>
        <div class="wrap-center" style="margin-top: 48px;margin-bottom: 48px;">
            <p>Sunt sequi autem senectus expedita auctor atque dolore ea rem sapiente nisi, enim dolor ante augue, gravida excepteur, reiciendis praesentium, ligula lobortis placeat delectus </p>
            <p style="font-weight: bold;">Lấy lại mật khẩu : <a href="#" style="font-style: italic;color: #2D9CDB;text-decoration: none; font-weight: bold;">Click here</a></p>
            <p><span>If you have any questions as you’re getting started, drop us a note at</span> <a href="#" style="font-style: italic;color: #2D9CDB;text-decoration: none;">help@slack.com</a><span>. We’re glad you’re here!</span></p>
        </div>
        <div class="wrap-footer" style="text-align: center; margin-top: 16px; color: #434245;">
            <p style="margin: 0; margin-bottom: 8px;">Made by my team </p>
            <p style="margin: 0; margin-bottom: 8px;">500 Howard Street | Triều khúc, Thanh Xuân, Hà Nội</p>
            <div class="blog" style="">
                <a href="#" style="color: #434245;display: inline-block;padding: 0 4px;">Our Blog</a>
                <a href="#" style="color: #434245;display: inline-block;padding: 0 4px;">Email Preferences</a>
                <a href="#" style="color: #434245;display: inline-block;padding: 0 4px;">Policies</a>
            </div>
        </div>
    </div>
</div>